.AboutBody{
    display: flex;
    background-color: #E3DFD4;
    width: 100%;
    height: 957px;
    flex-direction: column;
}
.AboutBody1{
    display: flex;
}
.AboutBody2{
    text-align: left;
    flex:1 3 ;
}
.AboutBody3{
    text-align: center;
    flex: 2 3;
}
.AboutBodyP1{
    font-family: "Reggae One";
    font-size: 64px;
}
.AboutBody4{
    display: flex;
    justify-content: center;
    align-items: center;
}
