.ShopBody{
    display: flex;
    background-color: #E3DFD4;
    width: 100%;
    height: 957px;
    flex-direction: column;
}
.ShopBody1{
text-align: center;
}
.ShopBody2{
text-align: center;
}
.ShopBodyP1{
    font-family: "Reggae One";
    font-size: 70px;
    color: #2A4700;
}